body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navheader{
  background-color: blue;
}

.footer{
  background-color: blue;
  position:fixed;
  bottom: 0;
  width:100%;
}

/* nav{
  position:fixed;
  top:0;
  height:50px;
  background: linear-gradient(45deg, rgb(156, 14, 156),midnightblue);

} */

.items {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #f1f1f1;
  cursor: pointer;
}

.list{
  list-style-type: none;
  background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}